.news-divider__container {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}

.news-divider__images {
    padding: 75px 25px 0;
}

.news-divider__images a {
    color: #fff;
}

.news-divider__images img {
    width: 550px;
    height: 550px;
    object-fit: cover;
}

.news-divider__title {
    position: relative;
    top: -150px;
    max-width: 70%;
    margin-left: 40px;
}

.news-divider__images p {
    position: relative;
    top: -140px;
    max-width: 60%;
    margin-left: 40px;
}

.news-divider__date-cat {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
    max-width: 80%;
    margin-left: 40px;
}