.popular-news__container {
    /* background-color: #fff;
    color: #333; */
    padding: 75px 0;
}

.popular-news__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}

.popular-news__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    padding-bottom: 75px;
}

.popular-news__card {
    max-width: 350px;
    max-height: 350px;
}

.popular-news__card a {
    color: #fff;
}

.popular-news__card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.popular-news__date-cat {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}